<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bws.harsley">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.bws.harsley.Utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFVOM4ifkX8zm9l237F4S4iXAJaKTcato" />

        <activity android:name="com.bws.harsley.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.bws.harsley.Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.bws.harsley.LoginActivity"/>
       <!-- android:theme="@style/Theme.AppCompat.Light"-->
        <activity android:name="com.bws.harsley.DashboardActivity" />
        <activity android:name="com.bws.harsley.MyJobActivity" />
        <activity android:name="com.bws.harsley.AssetsDetailsActivity" />
        <activity android:name="com.bws.harsley.PushNotificationActivity" />
        <activity android:name="com.bws.harsley.MyCalenderActivity" />
        <activity android:name="com.bws.harsley.NotificationActivity" />
        <activity android:name="com.bws.harsley.AssetsListActivity" />
        <activity android:name="com.bws.harsley.NotificationDetailsActivity" />
        <activity android:name="com.bws.harsley.JobDetailsActivity"></activity>
    </application>

</manifest>